<h1><%= @post.title %></h1>
<h3>By: <%= @post.blogger.name %></h3>
<p><%= @post.content %></p>
<div>Total likes: <%= @post.likes %></div>
<br>
<%= button_to "Give me a like!", { action: "update" }, method: :add_like %>